p{
    margin: 0px;
}

.voltas--componente-container{
    display: flex;
    margin-left: 15px;
    width: 10%;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.tempo--componente--container{
    display: flex;
    margin-left: 15px;
    width: 10%;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color:#16121c;
}

#poente--name{
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    color:#aeb52c;
}
#voltas--name{
    font-size: 1.5em;
    margin-left: 27%;
    color: white;
    margin-right: 5px;
}


#tempo--name{
    font-size: 1.5em;
    color: white;
    margin-left: 10%;
    margin-right: 5px;
}

#logo{
    opacity: 0.7;
}

#bandeira{
    margin-left: auto;
    margin-right: 15px;
}

