:root{
    --background-tela:#15141c;
    --background-objetos: #383840; 
    --button-gray:#c7d0d8;
    --button-red:#ff1616;
    --button-green:#7ed957;
    --details-pink:#f19bbf;
    --details-yellow: #bbaa33;
    --details-white: #ffffff;
}
