.instantaneas{
    border-radius: 10px;
    background-color: #393640;
    margin: 0px;
    margin-top: 14px;
    margin-left: 1%;
    width: 28.5%;
    height: 70vh;
}

.instantaneas--superior{
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    color: white;
    width: 100%;
    height: 60%;
}

.acionamentos{
    height: 40%;
    width: 100%;
}
.acionamentos--superior{
    padding: 12%;
    justify-content: space-between;
    display: flex;
    height: 50%;
    width: 100%;
}
.on-off-display{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.on-off-ON{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:green;
    height: 35px;
    width: 35px;
}
.on-off-OFF{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:red;
    height: 35px;
    width: 35px;
}
.on-off-name{
    color: white;
    font-size: 0.7em;
}

.dms-display{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.dms-ON{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:green;
    height: 35px;
    width: 35px;
}
.dms-OFF{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:red;
    height: 35px;
    width: 35px;
}

.dms-name{
    color: white;
    font-size: 0.7em;
}

.re-display{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.re-ON{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:green;
    height: 35px;
    width: 35px;
}

.re-OFF{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:red;
    height: 35px;
    width: 35px;
}

.re-name {
    color: white;
    font-size: 0.7em;
    
}

.bomba-bb-display{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.bomba-bb-ON{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:green;
    height: 35px;
    width: 35px;
}

.bomba-bb-OFF{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:red;
    height: 35px;
    width: 35px;
}
.bomba-bb-name{
    color: white;
    font-size: 0.7em;
}

.bomba-be-display{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.bomba-be-ON{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:green;
    height: 35px;
    width: 35px;
}

.bomba-be-OFF{
    color: white;
    font-size: 0.5em;
    display: flex;
    border-radius: 20px;
    background-color:red;
    height: 35px;
    width: 35px;
}

.bomba-be-name{
    color: white;
    font-size: 0.7em;
}




.acionamentos--inferior{
    padding: 10% 20% 0 20%;
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-between;
}

.nomes{
    width: 50%;
    height: 60%;
}
.valores{
    width: 50%;
    height: 60%;
}


.nomes--itens{
    margin-top: 12px;
}
.valores--itens{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 10px;
    margin-right: 30px;
}




/* .CM{
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    height: 5%;
    width: 300px;
}
#info--CM{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 40%;

}
.TM{
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    height: 5%;
    width: 300px;
}

#info--TM{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 40%;
} */