.container-fluid{
    background-color: #15141c;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    color:#ffffff;
}

.row-t {
    display: flex;
}

.col-titulo{
    display: flex;
    flex-direction: row;
}

.card-titulo{
    color: #ffffff;
    background-color: #383840;
}

.row-a {
    display: inline-flex;
    justify-content: space-between;
    /*justify-content: space-between;
    flex-direction: column;*/
}

.col-graficos{
    color: #ffffff;
    margin-block-end: auto;
}

.col-instantaneas{
    color: #ffffff;
    margin-block-end: auto;
}

.col-gerenciador{
    color: #ffffff;
    margin-block-end: auto;
}

.card-body{
    background-color: #383840;
}


.button{
    width: 0.05%;
    height: 0.05%;
    border-radius: 50px;
}

#button-red{
    background-color: #ff1616;     
}

#button-green{
    background-color: #7ed957; 
}