.row {
    /*display: flex;*/
}

.col{
    display:flex;
    justify-content: space-evenly;
}

.col h1{
    color: #bbaa33;
}

#img {
    vertical-align: baseline;
    float:right;
}

.col h2, h3{
    color: #ffffff;
}

.col h4, h5{
    color:#f19bbf;
    font-size: 200%;
}

