.tempoDeVolta-e-Mapa{
    display: flex;
    width: 40.1%;
    flex-wrap: wrap;
    height: 70vh;
}
.tempoDeVolta{
    color: white;
    font-size: 1.2em;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    background-color: #393640;
    margin: 0px;
    margin-top: 12%;
    margin-left: 15px;
    
}
.mapa{
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    height: 55%;
    display: flex;
    width: 100%;
    background-color: #393640;
    margin-left: 15px;
    margin-top: 14px;

}



